.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    color:#fff;
    background-color: #263238;
    font-weight: 600;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 98%;
    overflow-y: hidden;
    box-shadow: 0px 0px 3px 0px #000;
    height:7vh;
    z-index: 1;

    .header-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        letter-spacing: 0.2em;
    }

    .header-links >ul{
        display: flex;
        list-style: none;
        li{
            padding: 0px 20px;
            cursor:pointer;
            transition: 0.3s all;
            &:hover{
                text-decoration: underline;
                color:#ef6c00;
                font-weight: 700;
            }
        }
    }

    .header-menu{
        border:4px solid #ef6c00;
        padding: 3px 20px;
        color: #ef6c00;
        cursor: pointer;
    }
}